.contenedor{
    height: 500px;
    background-color: blue;
    display: flex;
    display: inline flex;

  /*  align-items: flex-start; */
   /* align-items: flex-end; */
   align-items: center;

   /* align-items: stretch; */
   /* align-items: baseline; */
}
.item{
    background-color: #ccc;
    width: 100px;
    height: 100px;
    margin: 10px;
    font-size: 30px;
}