.demo .juego{
    list-style-type: none;
    float: left;
   display: inline-table; 
}
.juego{ 
    width: 200px;
    padding: 2em 1em 1 em 1em;
    text-align: center;
    transition: all 3s ease;
}
.juego img{
    margin:0 auto;
    display: block;
    transform: scale(0.9);
    transition: all 2s ease;
}
.juego:hover{
    background-color: brown;
    border-radius: 10px;
    cursor: pointer;
}
.juego:hover img{
    transform: scale(1);
}
.juego:hover h2{
    color: blue;
}