#contenedor{
    border: 1px solid #aaa;
    background-color: #dddddd;
    margin: 0 auto;
    width: 60%;
    height: 500px;
}
#verde{
    position: absolute;
    top: 0px;
    left: 0px;
    
    margin: 0 auto;
    height: 20%;
    width: 94%;
    border: 1px solid #80bc3a;
    margin bottom: 20px;
    background-color: #98e53e
}
#celeste{
    margin: 0 auto;
    height: 20%;
    width: 94%;
    border: 1px solid #328eb2;
    margin-bottom: 20px;
    background-color: #41b8e5;
}
#amarillo{
    margin: 0 auto;
    height: 20%;
    width: 94%;
    border: 1px solid #bcb43a;
    margin-bottom: 20px;
    background-color: #e5db3f;
}